.ni {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.ni p {
  font-size: 0.7rem;
  color: var(--gray4);
}
.ni input {
  background-color: transparent;
  border: 1px solid var(--gray4);
  caret-color: var(--gray4);
  border-radius: 100px;
  color: var(--gray4);
}
.ni input:focus {
  border-color: var(--gray4);
}
.ni input::placeholder {
  caret-color: var(--gray4);
}
