/* button.btn {
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 100px;
  background-color: transparent;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
} */
button.btn {
  border: 1px solid red;
  padding: 5px 10px;
  border-radius: 100px;
  background-color: transparent;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
}
