.poster {
  padding: 20px;
  row-gap: 10px;
}
.poster ul {
  display: flex;
  padding: 5px;
  column-gap: 10px;
}
.poster li {
  border: 1px solid;
  width: 180px;
  height: 240px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.2s;
}
.poster img {
  height: 100%;
  object-fit: cover;
}
.poster li:hover {
  transform: scale(1.1);
}
.poster ul p {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
