a:hover {
  text-decoration: underline;
}
.lang {
  border: 1px solid var(--gray0);
  background-color: transparent;
}
footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
